body {
    font-family: 'Poppins', sans-serif;
  }
  .title__Portfolio{
    text-align: center;
    font-size: 48px;
  }

    @media (min-width:760px){
      .title__Portfolio{
        margin-top: 100px;
        margin-bottom: 50px;
      }
      .my-services__article {
        width: 40%;
      }
      .template-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        /* margin-top: 50px; */
      }
    }