
body {
  font-family: "Poppins", sans-serif;
}
.section-my-services {
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.title__Servicios {
  text-align: center;
  font-size: 48px;
  margin: 80px auto;
}
.my-services__title {
  text-align: center;
  font-size: 32px;
 
  
}
.my-services__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  box-shadow: 0px 8px 10px 0px rgb(228, 228, 228);
  background-color: #f1eded;
  height: 440px;
  max-width: 330px;
  
}

.my-services__article--img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.my-services__article--sub-title {
  text-align: center;
  font-size: 24px;
}
.my-services__article--text {
  padding: 5px;
  text-align: center;
  margin: 0;
 

}
@media (min-width: 760px) {
  .title__Servicios{
   margin-top: 100px;
   margin-bottom: 50px;
  }
  .my-services__article {
    width: 30%;
   max-width: 300px;
  
  }
  .template-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
}
