@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo&family=Lobster&family=Mate+SC&family=Poiret+One&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poiret One", "cursive";
  padding: 0px 10px 0 10px;
  
}
.header__logo {
  font-size: 30px;
 
}
.header__logo > h3 {
  margin: 0;
  font-size: 30px;
}
.header__logo--a {
text-decoration: none;
color: black;
}

.header__menu--links {
  display: none;
  color: black;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 22px;
}

.header__menu--icon {
  font-size: 30px;
  
}
@media (min-width: 960px) {
  .header__menu--links {
    display: flex;
  }
  .header__menu--icon {
    display: none;
  }
  .header__menu {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-end; */
    width: 40%;
    margin-right: 50px;
  }
  .header__logo > h3 {
    font-size: 42px;
  }
}
.header__menu--list {
    list-style: none;
     display: flex;
     align-items: center;
    justify-content: space-around; 
    
}
/* .header__menu--li{
margin: 0 25px;
} */
